<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>URL Shortener</title>
        {% block stylesheets %}
          <link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>URL Shortener</h1><br>
        <form method="post" id="shortener">
          <div class="text">Insert your URL</div>
          <input id="longurl" name="longurl" class="input" type="text">
          <p></p>
          <div class="text">Insert desired short URL</div>
          <input id="desiredurl" name="desiredurl" class="input" maxlength="6" type="text"><br>
          <p></p>
          {% block output %}{% endblock %}
          <button id="shorten" class="button" type="submit">Get shortened URL</button><br>
          <div class="smalltext">* First you should insert your URL and then push the button to get the URL shortened. You may also insert preffered short URL.</div>
          <div class="smalltext">Allowed chars: "0123456789abcdefghijklmnopqrstuvwxyz". Allowed length: 6.</div>
        </form>
    </body>
</html>
